<div class="container">
  <h1>Favorites Authors</h1>
  <p>
    <a class="btn btn-primary btn-sm text-white" [routerLink]="[ '/new']">Add an author</a>
  </p>
  <span class="text-success" *ngIf="messages.success">{{ messages.success }}</span>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center active">
      List of all Authors
    </li>
    <div style="height: 500px; overflow: scroll;">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let author of authors">
        {{ author.author }}
        <span class="badge  badge-pill">
          <a class="btn btn-warning btn-sm text-white" [routerLink]="['/edit', author._id ]">Edit</a>
          <a class="btn btn-danger btn-sm text-white" (click)="deleteAuthor(author)">Delete</a>
        </span>
      </li>
    </div>
  </ul>
</div>