<div class="container">
  <h1>Favorites Authors</h1>
  <a class="btn btn-primary btn-sm text-white" [routerLink]="['/']">Home</a>
  <form (submit)="updateAuthor()">
    <p>Edit this author:</p>
    <div class="form-group">
      <span class="text-success" *ngIf="messages.success">{{ messages.success }}</span>
      <span class="text-danger" *ngIf="messages.author">{{ messages.author }}</span>
      <input type="text" class="form-control" name="editAuthor.author" [(ngModel)]="editAuthor.author" placeholder="Author Name">
    </div>
    <a class="btn btn-danger btn-sm text-white" [routerLink]="['/']">Cancel</a>
    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
  </form>
</div>